<form class="create-job" action="/jobs/create" method="POST">
	<input name="title" type="text" placeholder="Enter title" required>	
	<textarea name="description" type="text" placeholder="Enter description" required></textarea>
	<button type="submit">Create job</button>
</form>