<form class="create-job" action="/jobs/edit" method="POST">
	<input name="title" type="text" placeholder="Enter title" value="{{job.title}}" required>	
	<textarea name="description" type="text" placeholder="Enter description" required>{{job.description}}</textarea>
	<input type="hidden" name="_id" value="{{job._id}}">
	<button type="submit">Edit job</button>
</form>