$main_color: #2c3e50;

a {
	text-decoration: none;
	color: inherit;
}

input, textarea, select, button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	color: inherit;
}

.wrapper {
	width: 800px;
	margin: auto;
}

body {
	margin: 0;
	font-family: Calibri;
}

.header {
	background-color: $main_color;
	width: 100%;
	display: flex;
	align-items: center;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.logo {
		img {
			height: 60px;
			filter: invert(1);
		}
	}

	.menu {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 300px;
		font-size: 18px;
		color: white;
	}

	.right-menu {
		font-size: 18px;
		color: white;
		margin-right: 25px;

		.login {
			margin-right: 15px;
		}
	}
}

.sign {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	margin-top: 100px;

	form {
		width: 300px;
		border: 1px solid rgba(0, 0, 0, 0.5);
		display: grid;
		border-radius: 5px;
		padding: 10px;

		input {
			border: none;
			border-bottom: 1px solid rgba(0, 0, 0, 0.5);
			padding: 10px;
			margin-bottom: 10px;
			outline: none;
			
		}

		button {
			border: none;
			background-color: $main_color;
			padding: 10px;
			font-size: 20px;
			color: white;
			border-radius: 5px;
		}
	}
}

.jobs-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: auto;
	width: 500px;
}

.a-create {
	background-color: #2ecc71;
	padding: 10px;
	color: white;
	border-radius: 5px;
	text-align: end;
	margin-left: 15px;
}

.job {
	margin: auto;
	margin-top: 20px;
	width: 500px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 15px;
	border-radius: 5px;

	.title {
		font-size: 26px;
		transition: color 0.25s;
		font-weight: 500;
		cursor: pointer;

		&:hover {
			color: #3498db;
		}
	}

	.description {
		margin-top: 10px;
		font-size: 18px;
		color: #95a5a6;
	}

	.job-footer {
		margin-top: 10px;
		display: flex;
		justify-content: space-between;

		.creator span {
			font-weight: bold;
			font-size: 18px;
		}

		.date span {
			font-weight: bold;
		}
	}

	.job-title {
		font-size: 36px;
	}

	.job-desc {
		font-size: 22px;
		color: black;
	}

	.edit-btn {
		padding: 10px;
		background-color: $main_color;
		color: white;
		border-radius: 5px;
	}

	.job-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.no-work {
	width: 100%;
	font-size: 26px;
	text-align: center;
}

.create-job {
	width: 500px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	display: block;
	margin: auto;
	padding: 15px;
	margin-top: 30px;

	input, textarea, button{
		padding: 10px;
		width: 100%;
		display: block;
		box-sizing: border-box;
		max-width: 100%;
		outline: none;
	}
	
	textarea {
		margin: 10px 0px;
		resize: vertical;
		min-height: 200px;
	}

	button {
		background-color: $main_color;
		border: none;
		color: white;
		text-transform: uppercase;
		cursor: pointer;
	}
}

.error {
	padding: 5px;
	margin-top: 10px;
	color: #e74c3c;
	border: 1px solid #e74c3c;
	border-radius: 5px;
	font-size: 20px;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	margin-bottom: 0px;
}